.hero
{
    background: linear-gradient(#08003ab3, #08003ab3), 
  url('../../assets/hero.png') no-repeat center center/cover;
    height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;

}
.hero-content
{
    max-width: 800px;
    height: 100%;
    color: white;
    text-align: center;
    
}
.exp-btn
{
   
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
}
.exp-btn img 
{
    width: 20px;
    margin-left: 10px;
}
.hero-content h1 
{
    font-size: 55px;
    margin-bottom: 20px;
    font-weight:600;
    line-height: 1.2;
}