.contact
{
    display:flex;
    justify-content: space-between;
}

.contact-address
{
    list-style:none;
    margin-top: 20px;
}
.contact-address li
{
    margin-bottom: 10px;
}
.contact-left
{
    flex-basis: 40%;
}
.contact-right
{
    flex-basis: 50%;
}
.contact-right form label
{
    width:100%;
    padding-bottom: 10px;
}
input
{
    width:100%;
    border:0;
    padding: 10px 15px;
    margin:5px 0;
}

textarea
{
    width: 100%;
    border:0;
    padding:15px;
     margin:5px 0;
}
.contact li img
{
width:20px;
margin-right: 10px;
}
.envelop
{
    width:55px;
}
.success
{
    color:green;
}
@media only screen and (max-width: 767px) {
    .contact
    {
        flex-direction: column;
    }
}